@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
:root{
  --tenne-tawny: #d65108;
  --tenne-tawny-dark: #b54507;
}
body{
  margin:0;
  font-family: 'Varela Round', sans-serif;
  font-size:1.05rem;
  line-height:1.6;
  font-weight:300;
}

.nav-container {
  position:sticky;
  z-index: 3;
  top:0;
}
.navbar {
  display:flex;
  justify-content: space-between;
  height:13vh;
  background-color:#1b1b1b;
}

.navbar-logo{
  justify-self: start;
  margin-left: 20px;
  color:rgb(234, 234, 234);
  margin-top:4vh;
  cursor:pointer;
}
.navbar-logo:hover{
  color:greenyellow;
  font-weight: bolder;
}
.ver-carrito{
  font-size:25px;
  margin-right:20px;
  margin-top:3.5vh;
  cursor:pointer;
}

.banner{
  background-size:cover;
  background-position:center;
  height:100vh;
  background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/tangerine-newt-itukmaELj4I-unsplash.jpg");
}
.banner-container{
  text-align:center;
  padding: 25% 0;
}
.banner h1{
  margin:0;
  color:rgb(234, 234, 234);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 65px;
  font-weight: bolder;
}
.banner h2{
  margin-bottom:0 !important;
  margin-top:0;
}

.banner p{
  font-size:30px;
  color:white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.contenido-shop {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  margin-top:30px;
  margin-left:80px;
  margin-right:80px;
}
.card{
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:300px;
  margin:auto;
  text-align:center;
  font-family:monospace;
}
.card > img{
  width: 90%;
  height:250px;
}

.precio {
  color:grey;
  font-size: 20px;
}

.card button{
  border:none;
  outline:0;
  padding:12px;
  color:rgb(234, 234, 234);
  background-color:#000;
  text-align:center;
  cursor:pointer;
  width:100%;
  font-size:18px;
}
  
.card button:hover{
  opacity: 0.8;
  color:greenyellow;
}
.delete-product{
    cursor:pointer;
}
.delete-product:hover{
  font-size:13px;
}
.cantidad-carrito {
    background-color:green;
    color:rgb(234, 234, 234);
    border-radius:50%;
    font-size:10px;
    padding:4px;
    top:37px;
    right:14px;
    position: absolute;
    display:none;
}
.cantidad-carrito:hover{
  background-color:greenyellow;
  color:rgb(17, 17, 17);
}

.modal-container{
  width:80%;
  margin:0 10%;
  max-height:88vh;
  color:rgb(234, 234, 234);
  background-color:#121212;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:fixed;
  overflow:auto;
  z-index:9;
  top:12vh;
  scrollbar-color:none;
}
.modal.container::-webkit-scrollbar{
  display:none;
}

.modal-header{
  display:flex;
  justify-content:space-around;
  background-color:#08981b;
  color:rgb(234, 234, 234);
  width:100%;
}

.modal-header-title {
  justify-self:start;
  text-transform: lowercase;
}
.modal-header-button{
  cursor:pointer;
  font-weight: bolder;
  text-transform: uppercase;
}
.modal-header-button:hover{
color:red;
}
.modal-container > .modal-content {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  width:70%;
  margin:10px;
}

.modal-container >div > img {
  height:120px;
  width:120px;
}

.total-content {
  font-size: 23px;
  padding:20px;
  text-align:center;
  padding-top:20px;
}
.restar:hover{
  color:#08981b;
  cursor: pointer;
  font-weight: bolder;
}

.sumar:hover{
  color:#08981b;
  cursor:pointer;
  font-weight: bolder;
}

.form {
  background:#1e1e1e;
  padding:40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(207, 212, 215, 0.3);
}
.tab-group {
  list-style: none;
  padding:0;
  margin: 0 0 40px 0;
}
.tab-group:after{
  content:"";
  display:table;
  clear:both;
}
.tab-group li a {
  display:block; 
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;

}
.tab-group li a:hover{
  background:#08981b;
  color:#ffffff ;
}
.tab-group .active a{
  background: #08981b;
  color: #ffffff;
}
.tab-content > div:last-child{
  display:none;
}
.signup h4 {
  text-align: center;
  color: rgb(234, 234, 234);
  font-weight: 300;
  margin: 0 0 40px;
}
h4{color:rgb(234, 234, 234);
text-transform: uppercase;
font-weight:bolder;
}

.signup label{
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px
}
label .req{
  margin: 2px;
  color:#08981b;
}
label.active{
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}
input, textarea{
  font-size:22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #08981b;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.field-wrap label{
  color:rgb(234, 234, 234);
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background:#08981b;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #08981b;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--tenne-tawny);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}


@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}
